.BoxDiv{
    background: #00416A; 
background: -webkit-linear-gradient(to right, #E4E5E6, #00416A);  
background: linear-gradient(to right, #E4E5E6, #00416A); 
    height: 100vh;
    width: 100%;
}


.Edithead{
    padding-top:10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    color: #023E7D;
}
.form{
    display: grid;
    grid-template-rows: 1fr;
    justify-self: center; 
    width: 50%;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form input{
    margin: 10px;
}
.in{
    border:solid 5px  #023E7D;
    border-radius: 5px;
    padding: 5px;
}
.in:hover{
    border:solid 5px #0466C8;
}
.in:active{
    border:solid 5px #0466C8;
}
.in:focus{
    border:solid 5px #0466C8;
    outline: none;
}

@media (max-width: 768px) {
    .BoxDiv{
    background: #00416A;  
background: -webkit-linear-gradient(to right, #E4E5E6, #00416A); 
background: linear-gradient(to right, #E4E5E6, #00416A); 
    height: 100vh;
    width: 100%;
}

    .Edithead{
        padding-top: 5px;
    font-weight: bold;
    color: #023E7D;
    font-size: large;
}
.form{
    width: auto;
}

.form input{
    margin: 5px;
}
.in{
    border:solid 2px  #023E7D;
    border-radius: 2px;
    padding: 2px;
}
.in:hover{
    border:solid 2px #0466C8;
}
.in:active{
    border:solid 2px #0466C8;
}
.in:focus{
    border:solid 2px #0466C8;
    outline: none;
}


}